@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer base {
  :root {
    --Gray1: #2d2d2d;
    --Gray2: #444444;
    --Gray3: #505050;
    --Gray4: #717171;
    --light1: #959595;
    --light2: #c7c6c6;
    --light3: #e7e7e7;
    --light4: #f5f5f5;
    --black: #0c0c0c;
    --primary: #644FC1;
    --primary50: #F7F5FF;
    --primary75: #EDE9FE;
    --primary100: #D7CFF9;
    --primary200: #AA99EC;
    --primary300: #8D75F7;
    --primary400: #483B8C;
  }

}



/* @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
} */

/* @layer base {
  * {
    @apply border-foreground/20;
  }
} */
