---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Atoms/Button';
---

<BaseLayout title="Fund for Found | Crowdfund for Everyone, Everywhere">
    <h1 class="text-5xl">Fund For Found</h1>
    <p>Break free from the boundaries of geography. 3F empowers global tech innovators with a liberal 
    crowdfunding toolkit all around the world—unleashing creative potential, anywhere and everywhere.</p>
    <Button type='primary'>Watch Now</Button>
    <Button type="secondary">Start Now</Button>
</BaseLayout>
